/*footer*/
.footer {
  width: 100%;
  background: var(--purple);
  color:var(--white);
  padding: 20px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: var(--yellow);
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  
}

.footer_historia {
  padding-right: 40px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer_redes ul li{
  display: inline-block;
  margin-left: 10px;
}

.footer_redes ul li a{
  border: 3px solid;
  color: var(--purple);
  display: block;
  padding: 10px;
}

.footer_redes ul li a:hover {
  border-color: var(--pink);
}

.copy {
  width: 100%;
  background: var(--pink);
  padding: 20px 0;
}
.container {
	width: 960px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.grid-4, .grid-8 {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.grid-4 	{width: 220px;}
.grid-8 	{width: 460px;}

.copyright{
  color: var(--yellow);
}