@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/*achei mais facil declarar variaveis com as cores*/
:root {
    --purple: #741694;
    --white: #fff;
    --dark: #1e1c2a;
    --pink: #e11584;
    --yellow: #fec63e;
    --black: #000000;
    --red: #ff0000;
}

body {
    font-size: 100%;
    background: var(--black);
}

.navigation {
    background-color: var(--purple);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/*logo*/
.logo {

    height: 32px;
    margin: 20px;
}

/*barra de navegação*/
.navi-menu {
    position: absolute;
    top: 20px;
    right: 0
}

.navi-menu a {

    margin: 0 15px 0 15px;
}

.menu-item {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-weight: 400;
    font-size: 18px
}

.principal {
    margin-bottom: 48px;
    border-top: 0.4px solid --white;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
}

.text-h1 {
    font-family: 'Poppins', cursive;
    font-weight: 400;
    font-size: 64px;
    color: var(--white);
}

p {
    color: var(--white);
}

.home-btn {
    background-color: var(--purple);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px (--dark);
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: var(--dark);
}

.home-btn:hover {
    background-color: var(--pink);
    cursor: pointer;
}

.banner-video {
    width: 500px;
    border-radius: 10px;

}

.secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.title-secondary {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Poppins', cursive;
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
    margin-bottom: 16px;
}

.title-hardware {
    font-family: 'Poppins', cursive;
    font-weight: 400;
    font-size: 24px;
    color: var(--white);
    margin-bottom: 16px;
}

.paragraph-secondary {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: var(--white);
}

/*efeito de mudança de cor quando passa o mouse nas opcoes clicaveis do menu*/
.menu-item:hover {
    color: var(--yellow);
    cursor: pointer;
}

/*aqui começa o main
organizacao do home com botao e textos*/
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text {
    max-width: 37rem;
}

/*titulo, subtitulo e paragrafo*/
.home-text .text-h4 {
    font-size: 1.5rem;
    color: var(--purple);
    margin-bottom: 1rem;
}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p {
    margin-bottom: 4rem;
}

/*botao de escolha da maquina*/
.home-btn {
    padding: 15px 45px;
    background: var(--purple);
    color: var(--white);
    border-radius: 50px;
    font-weight: 700;
    transition: all 0.5s;
}

/*efeito de mudança de cor quando passa o mouse nas opcoes clicaveis do menu*/
.home-btn:hover {
    background: var(--pink);
}


.redes {
    padding: 180px;
    border-top: 0.4px solid --white;
}

.redes-img {
    border-radius: 50%;
    width: 200px;
}
#link{
    padding: 0 0 100px 0;
}
.caixa{
    margin: 0 0 0 130px;
     
}
.form{
    background-color: var(--purple);
    width: 80%;
    padding: 40px;  
    border-radius: 5px;
}
h3 {
    color: var(--yellow);
    text-align: center;
}
label{
    color: var(--white);
    display: block;
    font-size: 20px;
}

.span-required {
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: var(--red);
    display: none;

}

.input-padrao{
    display: block;
	margin: 0 0 20px;
	padding: 5px 10px;
	width: 50%;
    text-align: center;
    border-radius: 5px;
}
.checkbox{
    display: inline;
}
.botao{
    background-color: var(--yellow);
    color: var(--purple);
    width: 40%;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
    transition: 0.5s;
}
.botao:hover{
    color: var(--pink);
    background-color: rgb(255, 187, 0);
    transform: scale(1.1);
    cursor: pointer;
}

.voltar-topo {
    text-align: right;
    color: var(--white);
}
.voltar-topo:hover {
    color: var(--yellow);
}
