@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
/*achei mais facil declarar variaveis com as cores*/
:root{
    --purple:#741694;
    --white:#fff;
    --dark:#1e1c2a;
    --pink:#e11584;
}
body{
    color: var(--dark);
    background: var(--white);
}

/*barra de navegação*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem var(--purple);
    width: 100%;
    background: var(--dark);
    transition: all 0.5s;
    position: fixed;
}
/*logo da razor*/
.navigation .logo{
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 600;
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
/*cor da opcoes clicaveis dos menus*/
.navigation ul li a{
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s;
}
/*efeito de mudança de cor quando passa o mouse nas opcoes clicaveis do menu*/
.navigation ul li a:hover{
    color: var(--pink);
}

/*organizacao do home com botao e textos*/
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}
.home-text{
    max-width: 37rem;
}
/*titulo, subtitulo e paragrafo*/
.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--purple);
    margin-bottom: 1rem;
}
.home-text .text-h1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}
.home-text p{
    margin-bottom: 4rem;
}
/*botao de escolha da maquina*/
.home-btn{
    padding: 15px 45px;
    background: var(--purple);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}
/*cor do botao quando passa o mouse*/
.home-btn:hover{
    background: var(--pink);
}